body {
    background-image: url("suburb.png");
      position: fixed;
    }
    .drone{
 width: 100px;
 height:  100px;
 position: absolute;
 left:780px;
 top: 20px;

    }    
    .walk{
        
        width:270px;
        position: absolute;
        left:1000px;
        top: 170px;
            }
