body {
    background-image: url("suburb.png");
      position: fixed;
    }
.container {
            width: 1500px;
            height: 1000px;
            background-image: url("suburb.png");
            background-size: contain; /* You can change this to 'contain' or use percentage values */
			background-repeat: no-repeat;
			overflow: hidden;
			border:0;
		}
    .drone{
 width: 100px;
 height:  100px;
 position: absolute;
 left:780px;
 top: 20px;

    }    
    .walk{
        
        width:270px;
        position: absolute;
        left:1000px;
        top: 170px;
            }
